.logo {
    left: 20px;
    font-size: 20px;
    font-weight: 600;
    color: #000000;
    position: absolute;
    top: 5px;
    font-family: cursive;
}

.switcher {
    position: absolute;
    left: 15px;
    top: 45px;
}
.mainInfo {
    flex: 1;
    padding-left: 200px;
        padding-right: 200px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 50px;

    .continue {
        display: flex;
        flex-direction: column;
        padding: 30px;
        background-color: #21487f;
        box-shadow: 0px 2px 10px 3px #0000008f;


        .continueInput {
            display: flex;
            gap: 6px;

            .addText {
                padding: 0px 15px;
                width: 481px;
                height: 39px;
                border: .1px solid rgba(0, 0, 0, 0.463);
                border-radius: 6px;
            }

            .deadline {
                padding: 0px 15px;
                color: white;
                width: 74px;
                height: 39px;
                border: none;
                background: #dddddd66;
                border-radius: 6px;
            }
        }

        .btn {
            width: 100%;
            margin: 20px 0 0 0;
            display: inline-block;
            box-sizing: border-box;
            padding: 0 20px;
            outline: none;
            border: none;
            border-radius: 4px;
            height: 39px;
            line-height: 32px;
            font-size: 14px;
            font-weight: 500;
            text-decoration: none;
            color: #fff;
            background-color: #3775dd;
            box-shadow: 0 2px #21487f;
            cursor: pointer;
            user-select: none;
            appearance: none;
            touch-action: manipulation;
            vertical-align: top;
            display: flex;
            justify-content: center;
            align-items: center;


            &:hover {
                background-color: #002fed;
            }

            &:active {
                background-color: #2f599e;
            }

            &:focus-visible {
                box-shadow: 0 0 0 3px lightskyblue;
            }

            &:disabled {
                background-color: #6c87b5;
                pointer-events: none;
            }
        }
    }

    .todoCards {
        margin-top: 35px;
        background-color: rgb(231, 231, 231);
        width: 100%;
        height: 300px;
        border-radius: 4px;
        overflow: scroll;
        box-shadow: 0px 0px 4px 5px rgb(231, 231, 231);
        padding: 0 3px;
        margin-bottom: 43px;
    }

}

.availableDtn {
    background-color: rgb(204, 204, 204) !important;
    cursor: not-allowed !important;

}

.logoDark {
    color: white;
}
.available:hover {
    cursor: not-allowed;
}
.mainInfoDark {
    background-color: #112d86;
}

.continueDark {
    background: #75757585 !important;
    box-shadow: 0px 2px 10px 5px rgba(0, 0, 0, 0.5607843137) !important;
}

.todoCardsDark {
    background-color: #02024c70 !important;
    box-shadow: 0px 0px 4px 5px #02024c70 !important;
}

.deadlineDark {
    background: rgb(255 255 255 / 55%) !important;
}

.btnDark {
    &:hover {
        background-color: #4fa050 !important;
        box-shadow: 0 2px #18752d !important;
    }

    &:active {
        background-color: #4adf4d !important;
    }
}

@media screen and (max-width: 753px) {
    .mainInfo {
        padding-left: 100px;
        padding-right: 100px;
    }

    .switcher {
        left: 6px;
    }
}

@media screen and (max-width: 549px) {
    .logo {
        top: 10px;
    }

    .switcher {
        left: 130.2px;
        top: 9px;
    }

    .mainInfo {
        padding-left: 20px;
        padding-right: 20px;
        padding-top: 85px;
    }
}

@media screen and (max-width: 396px) {
    .continue {
        padding: 10px !important;
    }

    .addText {
        height: 30px !important;
        font-size: 12px;
    }

    .deadline {
        height: 30px !important;
        font-size: 12px;
    }

    .btn {
        height: 30px !important;
        font-size: 12px !important;
        margin: 11px 0 0 0 !important;
    }
}